* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(44, 44, 44);
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 95vmin;
  height: 90vmin;
  margin: auto;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.sliders {
  width: 95vmin;
  height: 70vmin;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 3%;
  border: solid 0.2em rgb(32, 118, 247);
}

.slide{
  flex: 1 0 100%;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.slide-1 {
  background-image: url(./assets/images/slide-1.jpg);
}

.slide-2 {
  background-image: url(./assets/images/slide-2.jpg);
}

.slide-3 {
  background-image: url(./assets/images/slide-3.jpg);

}
.slide-4 {
  background-image: url(./assets/images/slide-4.jpg);
}

.slide-5 {
  background-image: url(./assets/images/slide-5.jpg);
}

.captions {
  margin: 0%;
  width: 75vmin;
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.caption {
  flex: 1 0 100%;
  scroll-snap-align: start;
  width: 100%;
  height: 100%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

.sliders::-webkit-scrollbar, .captions::-webkit-scrollbar {
  display: none;
}

.controls {
  width: 20vmin;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.controls a {
  width: 100%;
  height: 100%;
  padding: 5%;
}

.control {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: rgb(32, 118, 247);;
  border: solid 0.2em rgb(32, 118, 247);
}

.controls a:current {
  background: none;
  border: solid 0.2em white;
}

a:checked .control {
  background: none;
  border: solid 0.2em rgb(32, 118, 247);
}

.controls a:hover .control {
  background: white;
  border: white;
}

